
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="AviShop">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
    <div ng-controller="thongBaoTruong">
        <div ng-controller="thongBaoHocSinh">
            <b>Hoc sinh: </b>{{message}}
        </div>
        <div ng-controller="thongBaoGiaoVien">
            Giao vien: {{message}}
        </div>
        Nha truong: {{message}}
    </div>
</body>
</html>
